
#top ,.wrapper{
    margin: 0 auto;
    width: 980px;
}

a {
    color: blue;
    text-decoration: none;
}

#element {
    text-indent: 30px;
}

#element1 {
    text-indent: 30px;
}

#line1 {
    margin-block-start: 0px;
}